<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
</head>
<body>
<div th:replace="partials :: header"></div>
<nav th:replace="partials :: navbar"></nav>
<div class="container">
    <div class="row text-center">
        <h1 class="underline">Here's dem posts</h1>
        <div id="posts"></div>
    <div th:replace="partials :: footer"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script src="/js/ads.js"></script>
</div>
</body>
</html>