<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
</head>
<body>
<div th:replace="partials :: header"></div>
<nav th:replace="partials :: navbar"></nav>
<div class="container">
    <div class="row text-center">
        <form action="/posts/create" method="post" th:object="${post}">
            <span class="underline">Title</span>
            <br />
            <br/>
            <div class="mb-5">
                <input th:field="*{title}" />
            </div>
            <br />
            <span class="underline">Body</span>
            <br />
            <div class="mb-5">
                <textarea th:field="*{body}"/>
            </div>
            <br />
            <br/>
            <input type="submit" />
        </form>
    </div>
    <div th:replace="partials :: footer"></div>
</div>
</body>
</html>