<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
</head>
<body>
<div th:replace="partials :: header"></div>
<nav th:replace="partials :: navbar"></nav>
<div class="container">
    <form action="/posts/create" method="post" th:object="${post}">
        Title:
        <br />
        <input th:field="*{title}" />
        <br />
        Body:
        <br />
        <textarea th:field="*{body}"/>
        <br />
        <input type="submit" />
    </form>
    <div th:replace="partials :: footer"></div>
</div>
</body>
</html>