<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase text-white">Blog</h5>
                <p class="text-white">Where the post go to be posted</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 offset-md-3 mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="">Placeholder</a>
                    </li>
                    <li>
                        <a class="text-white" href="">Placeholder</a>
                    </li>
                    <li>
                        <a class="text-white" href="">Placeholder</a>
                    </li>
                    <li>
                        <a class="text-white" href="">Placeholder</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>