<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dice Roll game</title>
</head>
<body>
<h1>Guessing Game</h1>
<p>Please enter a guess</p>
<a href="http://localhost:8080/roll-dice/1">1</a>
<a href="http://localhost:8080/roll-dice/2">2</a>
<a href="http://localhost:8080/roll-dice/3">3</a>
<a href="http://localhost:8080/roll-dice/4">4</a>
<a href="http://localhost:8080/roll-dice/5">5</a>
<a href="http://localhost:8080/roll-dice/6">6</a>

</body>
</html>